apiVersion: v1
kind: Pod
metadata:
   name: config-pod

spec:
  containers:
  - name: nginx
    image: nginx
    envFrom:
        - configMapRef:
            name:  pod-config-details

#These environment variables are used by the container, not the pod itself.
#The following Pod fetch the content of the ConfigMap as environment variables: